@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body {
  margin: 0;
  min-height: 100vh; /* instead of height: 100vh; */
  overflow-x: hidden; /* new */
  width: 100%;
}

#root {
  min-height: 100%; /* instead of height: 100%; */
  width: 100%;
}

@layer base {
  /* Add your own base styles here */
}

@layer components {
  /* Add your own component styles here */
}

@layer utilities {
  /* Add your own utility styles here */
}

