@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  height: 100vh;
}

#root {
  height: 100%;
}

@layer base {
  /* Add your own base styles here */
}

@layer components {
  /* Add your own component styles here */
}

@layer utilities {
  /* Add your own utility styles here */
}

